body {
  margin: 0;
  font-family: arial;
}

.grid {
  display: grid;
  grid-template-columns: minmax(120px, 200px) minmax(240px, 1fr) 80px;
  grid-template-rows: auto 1fr auto auto;

  grid-template-areas:
  'logotype search hamburger'
  'images images images'
  'contact contact contact'
  'foot foot foot';

  // kontener
  min-height: 100vh;
  max-width: 1240px;
  margin: 0 auto;
}

.logo {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: rgb(202, 130, 130);
  height: 100px;
}

.search {
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: rgb(157, 156, 199);
}

.menu {
  grid-column: -1/-2;
  grid-row: 1/2;
  background-color: rgb(217, 219, 100);
}

.gallery {
  grid-column: 1/-1;
  grid-row: 2;
  background-color: aquamarine;
}

.contact {
grid-area: 3/1/4/-1;
  background-color: rgb(25, 161, 120);
}

.footer {
    grid-area: foot;
    height: 100px;
    background-color: rgb(77, 21, 21);
}
